<h1>Как с нами связаться</h1>
<h2>Наши телефоны:</h2>
<p>Городской: 56-44-53</p>

<div class="container">
  <div class="row">

    <div class="col-md-6 col-sm-8">
      <div class="team_item">
       <%= image_tag("Sm_63.png", class: "img-responsive", alt: "Sm_63" ) %>
        <h4>Здесь нас можно найти.</h4>
      </div>
    </div>

  </div>
</div>
